name: Build Internal-Admin Front

on:
  push:
    branches: [main]
    paths:
      - 'frontends/internal-admin/**'
      - 'frontends/common/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Login to ghcr.io
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Build and push
        run: |
          cd frontends
          docker build -f internal-admin/Dockerfile -t ghcr.io/gtypeid/hamster-front-internal-admin:latest .
          docker push ghcr.io/gtypeid/hamster-front-internal-admin:latest
