name: Build Ecommerce Front

on:
  push:
    branches: [main]
    paths:
      - 'frontends/ecommerce/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Login to ghcr.io
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Build and push
        run: |
          cd frontends/ecommerce
          docker build -t ghcr.io/gtypeid/hamster-front-ecommerce:latest .
          docker push ghcr.io/gtypeid/hamster-front-ecommerce:latest
