name: Build Ecommerce Service Back

on:
  push:
    branches: [main]
    paths:
      - 'common/**'
      - 'ecommerce-service/**'
      - 'Dockerfile'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          build-args: SERVICE_NAME=ecommerce-service
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/hamster-ecommerce:latest
